{% if include.type and (page.bigimg or page.title) %}
<header class="header-section{% if include.custom %} header-{{ include.custom }}{% endif %}{% if page.bigimg %} has-img{% endif %}">
  <div class="intro-header {% if page.bigimg %}big-img{% else %}no-img{% endif %}"{% if page.bigimg %}style="background-image: url('{{ page.bigimg }}');"{% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="{{ include.type }}-heading" style="{{ include.style }}">
            <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
            {% if page.subtitle %}
              {% if include.type == "page" %}
                <hr class="small">
                <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
              {% else %}
                <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
              {% endif %}
            {% endif %}
            {% if include.custom %}
              {% include headers/{{ include.custom }}.html %}
            {% endif %}
            {% if include.type == "post" %}
              <span class="post-meta">Posted on {{ page.date | date_to_string }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% else %}
<div class="intro-header"></div>
{% endif %}