{% include vars.html %}
<script type="text/javascript">
  window.pwidget_config = {
    defaults: {
      url: "{{ var_seo_url }}",
      image: "{{ var_seo_url }}/img/logo.png",
      title: "{{ site.title}} - {{ site.description }}"
    }
  };
  (function () {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = ('https:' == document.location.protocol ? 'https://s' : 'http://i')
      + '.po.st/static/v4/post-widget.js#publisherKey=ppclpv76427r4oskv1nm';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  })();
</script>
<div class="pw-server-widget" data-id="wid-g8uopk7v"></div>