# Eclipse
/.settings
/.buildpath
/.project
/.jsdtscope

# WebStorm
/.idea

# Jekyll
/_asset_bundler_cache
/.bundle
/.sass-cache
/.jekyll-metadata
/tmp
/web

# Node
/node_modules
/npm-debug.log*

# Bower
/bower_components

# Custom
/.dev
/src/_data/assets*.json