<span class="github">
  <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user={{ site.github.user }}&repo={{ site.github.repo }}&type=star&count=true&size=large" frameborder="0" scrolling="0" width="138px" height="30px"></iframe>
  <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user={{ site.github.user }}&repo={{ site.github.repo }}&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="133px" height="30px"></iframe>
</span>
<span class="button">
  <a class="btn btn-primary btn-lg" href="/doc/get-started">
    <span class="fa fa-paper-plane"></span>&nbsp;&nbsp;Get started
  </a>&nbsp;&nbsp;
  <a class="btn btn-success btn-lg" href="/downloads">
    <span class="fa fa-download"></span>&nbsp;&nbsp;Downloads
  </a>
</span>