---
layout: page
markdown_body: ""
---

{% capture changelog_contains %}## {{ page.release.version }}{% endcapture %}
{% capture upgrade_contains %}> {{ page.release.version }}{% endcapture %}

<div class="markdown-body">
  <h1>Download</h1>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Download</th>
      <th>Size</th>
      <th>Verification</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for asset in page.github_api.assets %}{% unless asset.name contains '.md5' or asset.name contains '.sha1' or asset.name contains '.sha256' or asset.name contains '.sha512' %}
    <tr>
      <td>{{ page.release.date }}</td>
      <td><span class="release-download"><a class="btn btn-success btn-sm" href="{{ site.baseurl | prepend: '/' | replace: '//', '/' }}download/{{ asset.name }}/"><i class="fa fa-download"></i>&nbsp;&nbsp;{{ asset.name }}</a></span></td>
      <td>{{ asset.size | filesize }}</td>
      <td>[<a href="{{ site.baseurl }}/download/{{ asset.name }}.md5/">MD5</a>]&nbsp;[<a href="{{ site.baseurl }}/download/{{ asset.name }}.sha1/">SHA1</a>]&nbsp;[<a href="{{ site.baseurl }}/download/{{ asset.name }}.sha256/">SHA256</a>]&nbsp;[<a href="{{ site.baseurl }}/download/{{ asset.name }}.sha512/">SHA512</a>]</td>
      <td>{% if asset.name contains '-basic' %}Only Apache, PHP, MySQL services and some tools are included{% elsif asset.name contains '-light' %}Only Apache and PHP services are included{% else %}All modules are included{% endif %}</td>
    </tr>
    {% endunless %}{% endfor %}
    </tbody>
  </table>
  {% strip %}{% include parse-changelog.html title='Changelog' data=page.changelog contains=changelog_contains %}{% endstrip %}
  {% strip %}{% include parse-changelog.html title='Upgrade from previous release' data=page.upgrade contains=upgrade_contains %}{% endstrip %}
</div>