body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #404040;
  position: relative;
  background: #FFF;
}

:target::before {
  content: "";
  display: block;
  margin-top: -75px;
  height: 75px;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

p a {
  color: #4078C0;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a {
  color: #4078C0;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

blockquote {
  color: #808080;
  font-style: italic;
}

blockquote p:first-child {
  margin-top: 0;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}

@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }
}

.main-explain-area {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px inherit;
}

.hideme {
  display: none;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}

::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

img {
  max-width: 100%;
}

.comments {
  margin-top: 30px;
}

pre {
  overflow-x: auto;
}

@media only screen and (min-width: 768px) {
  .comments {
    margin-top: 40px;
  }
}